# MySQL database
MYSQL_HOST = localhost
MYSQL_ROOT_PASSWORD = your_root_password
MYSQL_DATABASE = pokedex
MYSQL_USER = your_username
MYSQL_PASSWORD = your_username_password
MYSQL_CONTAINER_HOST = mysql
MYSQL_PORT = 3306
PORT = 3000